@font-face {
    font-display: swap;
    font-family: 'Nunito';
    src: local('Nunito-Regular.woff2'), 
    url('Nunito-Regular.woff2') format('woff2 supports variations'),
    url('Nunito-Regular.woff2') format('woff2-variations');
}